

h1,h2,h3
{
    font-family: 'Erica One';
}


.notif[_ngcontent-ng-c3506299130] {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(163, 150, 150);
    border-radius: 20px;
}