<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6"  #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <div>
     
          <div class="mt-2">
            <label for="username" class="block text-sm/6 font-medium text-gray-900">Email</label>
            <input name="username" [(ngModel)]="model.username" class="form-control"
                placeholder="Nom utilisateur" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="relative">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Mot de passe</label>
          <input id="hs-toggle-password" name="password" [(ngModel)]="model.password" 
          placeholder="Mot de passe" type="password" autocomplete="current-password" 
          required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" value="password">
          <button type="button" data-hs-toggle-password='{
            "target": "#hs-toggle-password"
          }' class="mt-6 absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
            <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
              <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
              <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
              <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
              <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
              <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
            </svg>
          </button>
        </div>
        
     <p class="hidden text-xs text-red-600 mt-2" id="password-error">8+ characters required</p>
        

       
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>

        <p class="mt-10 text-center text-sm/6 text-gray-500">
       Pas de compte ?
        <a class="font-semibold text-indigo-600 hover:text-indigo-500" routerLink="/register" routerLinkActive="active" >Inscrivez-vous!</a>
      </p>
      </form>
  
      
    </div>
  </div>
  